<html>
<head>
	<title> Top 100 Albums</title>
</head>
<body>
	<form action="/display_list" method="POST">
		<h1>Rolling Stone's Top 100 Albums of All Time</h1>
		<label for="sortBy">Sort By</label>
		<select name="sortBy">
			<option value="rank">Rank (default)</option>
			<option value="title">Title</option>
			<option value="year">Year</optoin>
		</select>
		<label for="rank">Select a Rank to Highlight</label>
		<select name="rank">
			<% for i in 1..100 %>
				<option> <%= i %> </option>
		 	<% end %>
		</select>
		<input type="submit" value="Display List">
	</form>
</body>
</html>