/* lifeApplication.css */

body {
	background-color: #A9A9A9;
}
#lifeBox {
	margin-right: 2%;
	margin-left: 2%;
	border-style:solid;
	border-width: 2px;
	font-family: "Helvetica", Sans-serif;
}

#heading {
	padding-top: .001em;
	padding-bottom: .001em;
	padding-left: 1%;
	background-color: #C6C6C6;
	line-height: 50%
}

h4 {
	color: #73737D;
}

#menuBar {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1em;
	background-color: black;
	color: #EDEDED;
	word-spacing: 1em;
}

#information {
	position: relative;
	margin-top: 0em;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: 1%;
	background-color: #F2F2F2;
	font-weight: 500;
}

#submitButton {
	position: relative;
	left: 200px;
	border-top-color: black;
	border-left-color: gray;
	border-right-color: gray;
	border-width: 1px;
	border-radius: 3em;
	margin-top: 15px;
}

#submit {
	margin-left: auto;
	margin-right: auto;
}

#status {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #E6E6E6;
	padding-bottom: 1px;
	padding-left: 4px;
}

#copyright {
	background-color: #E9E9E9;
	text-align: center;
	margin-bottom: 0em;
	margin-top: 0em;
	padding-top: 1%;
	padding-bottom: 1em;
}